.shoes-recycleble-items-detail {
  position: relative;
  width: 314px;
  height: 442px;
  object-fit: cover;
}
.shoes-detail-menu {
  position: relative;
  line-height: 131.02%;
  font-weight: 600;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  height: 112.5%;
  width: 112.5%;
  top: -6.25%;
  right: -6.25%;
  bottom: -6.25%;
  left: -6.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon1 {
  height: 100%;
  width: 50%;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
}
.icon-star {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 16px;
  height: 16px;
}
.rating {
  position: relative;
  letter-spacing: 0.5px;
  opacity: 0.3;
  mix-blend-mode: normal;
}
.rating-detail-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.group-icon,
.group-icon1 {
  position: absolute;
  height: 95%;
  width: 75%;
  top: 2.5%;
  right: 12.5%;
  bottom: 2.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-icon1 {
  height: 26.01%;
  width: 33.1%;
  top: 46.31%;
  right: 33.45%;
  bottom: 27.69%;
  left: 33.45%;
}
.shopping-bag-1-detail-menu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.rattings,
.shopping-bag-1-detail-menu-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}
.rattings {
  justify-content: center;
  gap: 21px;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray);
  font-family: var(--font-raleway);
}
.this-product-recycle {
  margin: 0;
}
.create-account1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 131.02%;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.buy {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-mini);
  background: linear-gradient(98.81deg, #53e88b, #15be77);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buy-detail-menu {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--color-white);
}
.purchase {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 27px;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
