.success-image-icon {
  position: relative;
  width: 172px;
  height: 162px;
}
.order-completed2 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 131.02%;
  background: linear-gradient(98.81deg, #53e88b, #15be77);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.congrats {
  position: relative;
  width: 134px;
  height: 39px;
}
.coins,
.create-account3 {
  position: relative;
  font-size: var(--font-size-4xl);
  line-height: 131.02%;
  font-weight: 500;
  font-family: var(--font-rubik);
}
.create-account3 {
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.done1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-mini);
  background: linear-gradient(98.81deg, #53e88b, #15be77);
  flex-direction: column;
  justify-content: center;
}
.done1,
.reward,
.reward-page {
  display: flex;
  align-items: center;
}
.reward {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-60xl);
}
.reward-page {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
