.recycleble {
  margin: 0;
}
.recycleble-items {
  position: relative;
  line-height: 131.02%;
  font-weight: 600;
}
.rectangle2 {
  border-radius: var(--br-mini);
  background-color: #fafdff;
  box-shadow: var(--drop-shadow);
}
.icon-notification,
.rectangle2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.icon-notifiaction {
  position: absolute;
  height: 53.33%;
  width: 44.44%;
  top: 24.44%;
  right: 26.67%;
  bottom: 22.23%;
  left: 28.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notification {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 45px;
  height: 45px;
}
.hedder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 95px;
}
.search {
  border: 0;
  font-family: var(--font-roboto);
  font-size: var(--font-size-xs);
  background-color: transparent;
  position: relative;
  width: 267px;
  height: 50px;
}
.rectangle3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: #f9a84d;
  opacity: 0.1;
  mix-blend-mode: normal;
}
.iconlybulkfilter {
  position: absolute;
  height: 48%;
  width: 48.98%;
  top: 28%;
  right: 24.49%;
  bottom: 24%;
  left: 26.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.filter-icon {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 49px;
  height: 50px;
}
.search-column {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 9px;
}
.image-icon1 {
  position: relative;
  width: 91px;
  height: 94px;
  object-fit: cover;
}
.details,
.name {
  position: relative;
  line-height: 131.02%;
  display: inline-block;
  width: 91px;
}
.name {
  font-size: var(--font-size-smi);
  font-family: var(--font-advent-pro);
  width: 90px;
  opacity: 0.5;
}
.card,
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.info {
  width: 124px;
  gap: var(--gap-5xs);
}
.card {
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.07);
  width: 133px;
  padding: var(--padding-2xs) var(--padding-2xl);
  box-sizing: border-box;
}
.e-commerce,
.e-commerce-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.e-commerce {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-alata);
}
.menu-bar-recycleble-items-child {
  position: absolute;
  bottom: 0;
  left: calc(50% - 178.5px);
  border-radius: var(--br-3xl);
  background-color: var(--color-white);
  box-shadow: 0 0 50px rgba(90, 108, 234, 0.1);
  width: 357px;
  height: 74px;
}
.frame1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 52.8px);
  border-radius: var(--br-xs);
  background: linear-gradient(98.81deg, #53e88b, #15be77);
  width: 105.59px;
  height: 44px;
  opacity: 0.1;
}
.iconlybulkhome1 {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 35.7px);
  width: 24.14px;
  height: 24px;
}
.home1 {
  position: absolute;
  bottom: 12px;
  left: calc(50% + 0.5px);
  font-size: var(--font-size-xs);
  line-height: 131.02%;
  font-family: var(--font-raleway);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 34.19px;
}
.icon-home-active1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  bottom: 15px;
  left: calc(50% - 158.39px);
  width: 105.59px;
  height: 44px;
}
.div2 {
  position: absolute;
  bottom: 37px;
  left: calc(50% + 69.89px);
  line-height: 131.02%;
  display: inline-block;
  width: 5.03px;
}
.iconlybulkbuy1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 14.08px);
  width: 24.14px;
  height: 24px;
  opacity: 0.5;
}
.notification-cart-item {
  position: absolute;
  bottom: 1px;
  left: calc(50% - 6.54px);
  border-radius: 50%;
  background-color: var(--color-tomato);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 13.07px;
  height: 13px;
}
.div3 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 2.51px);
  font-size: var(--font-size-4xs);
  line-height: 131.02%;
  font-family: var(--font-raleway);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  width: 5.03px;
}
.icon-cart1,
.notification-cart1 {
  position: absolute;
  bottom: 12px;
  left: calc(50% + 1.01px);
  width: 13.07px;
  height: 14px;
}
.icon-cart1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  bottom: 17px;
  left: calc(50% + 123.19px);
  width: 28.16px;
  height: 26px;
}
.icon-profile1,
.profile-icon1 {
  position: absolute;
  bottom: 0;
  left: calc(50% - 8.04px);
  width: 16.08px;
  height: 21px;
}
.icon-profile1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  bottom: 22px;
  left: calc(50% + 77.94px);
  opacity: 0.5;
}
.menu-bar-recycleble-items {
  position: relative;
  width: 357px;
  height: 74px;
  font-size: var(--font-size-4xs);
  color: var(--color-white);
  font-family: var(--font-raleway);
}
.store {
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: 50px;
  text-align: left;
  font-size: 31px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
